<header class="flex items-center justify-between border-b border-white p-3">
  <a href="/" class="no-underline"
    ><h1 class="text-3xl font-semibold"><%= data.title %></h1></a
  >

  <nav class="flex gap-x-5">
    <a href="/profile" class="block text-white no-underline hover:underline"
      >Profile</a
    >
    <a href="/about" class="block text-white no-underline hover:underline"
      >About</a
    >
    <a href="/contact" class="block text-white no-underline hover:underline"
      >Contact</a
    >
  </nav>
</header>
