<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Rebakure | Contact</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body class="bg-gray-900 text-white">
    <div class="mx-auto w-[800px]">
      <%- include('partials/header.ejs') %>
      <main>
        <h1 class="p-10 text-center text-4xl font-semibold">404 - Not found</h1>
      </main>
    </div>
  </body>
</html>
